

/* footer */
.footer{
    position: relative;
    background-color: #000;
    overflow: hidden;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
}
.footer .logo{
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0 0 30px 0;
}
.fast-link{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.fast-link ul{
    width: 50%;
    min-width: 300px;
    text-align: center;
    margin: 40px 0;
}
.fast-link ul li, .fast-link ul li a{
    color: #fff;
}
.fast-link ul li a:hover{
    text-decoration: underline;
}




.container .fast-link .title-footer-menus{
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: #666666;
    cursor: default;
}



.copy{
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: .8em;
    padding: 25px 0;
    border-top: 1px solid #e4e4e4;
}


/* responsive */
/* max-width 445px */
@media (max-width:445px){
    .fast-link ul{width: 100%;min-width: none;}
}